#demo-dt-selection tbody tr:hover
{
    background-color: #e8e8e8;
    cursor: pointer;
}


#popup-detalle-incidente{
    position: fixed;
    top: 0px;
    z-index: 10;
    left: 0px;
    width: 100%;
    height: 100%;
}

.background-popup{
        top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #00000042;
}

.lblValue{
    text-align: left !important;
    font-weight: normal;
}

#detalle-incidencias{
    display: none;
}